body {
    font-family: sans-serif;
    margin: 0;
}


path ,  circle {
    fill: #929292
}


text {
    fill: white;
}




svg a:hover text {
   font-size: 40px;
   font-weight: bold;
   margin-left: -30px;
   margin-top: -5px;
}


a:link, a:visited {
    text-decoration: none;
    color: black;
    background-color: #eee;
    padding: 4px;
    margin: 4px;
    border-radius: 4px;
}

section > a {
    display: inline-block;
}

section div a {
    display: block;
}

svg text {
    font-size: 20px;
}

a:hover {
    background-color: #174704;
    color: white;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    flex-direction: column;
}

header {
    background-color: white;
    padding: 20px;
    text-align: left;
}

main {
    padding: 10px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;
}

thead th {
    background-color: #174704;
    color: white;
}

tbody th {
    font-weight: bold;
}

th {
    text-align: left;;
}

tr:nth-child(even) {
    background-color: #e3e3e3;
}

td, th {
    white-space: nowrap;
    padding: 3px;
}

table {
    border-collapse: collapse;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
}



svg {
    width: 100%;
    height: auto;
}




section {
    width: 800px;
    height: 720px;
    overflow-y: auto;
    margin: 20px;
    background-color: white;;
}

table {
    font-size: 13px;
    width: 100%;
}

h1, h2 {
    text-transform: uppercase;
}

td:nth-child(3) , td:nth-child(4) ,

th:nth-child(3) , tbody th:nth-child(4) {
    text-align: right;
}

table:nth-of-type(1) td:nth-child(2) {
    text-align: right;
}

table:nth-of-type(1)  {
    margin-bottom: 10px;
}

section {
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);

    
}

nav {
    background-color: #8c1d29;
    color: white;
    padding: 20px;
    text-align: center;
    font-weight: bold;
}

table:nth-of-type(1) tbody tr:not(:first-child) th {
    padding-left: 30px;;
}

section div {
    height: 640px;
    overflow-y: auto;
}

section a {
    font-size: 13px;
}



a text {
    text-shadow: 0px 0px 3px rgba(0,0,0,1);
}

a:nth-child(1) path , a:nth-child(1) circle {
    fill: #676862 ;
}

a:nth-child(2) path , a:nth-child(2) circle {
    fill: #8c2c38;
}


a:nth-child(3) path , a:nth-child(3) circle {
    fill: #174704;
}

a:nth-child(4) path , a:nth-child(4) circle {
    fill: #E7E9DE;
}

a:nth-child(5) path , a:nth-child(5) circle {
    fill: #676862;
}

a:nth-child(6) path , a:nth-child(6) circle {
    fill: #8c2c38;
}

a:nth-child(7) path , a:nth-child(7) circle {
    fill: #174704;
}

a:nth-child(8) path , a:nth-child(8) circle {
    fill: #676862;
}

a:nth-child(9) path , a:nth-child(9) circle {
    fill: #8c2c38;
}

a:nth-child(10) path , a:nth-child(10) circle {
    fill: #676862;
}

a:nth-child(11) path , a:nth-child(11) circle {
    fill: #E7E9DE;
}

a:nth-child(12) path , a:nth-child(12) circle {
    fill: #676862;
}

a:nth-child(13) path , a:nth-child(13) circle {
    fill: #E7E9DE;
}

a:nth-child(14) path , a:nth-child(14) circle {
    fill: #676862;
}

a:nth-child(15) path , a:nth-child(15) circle {
    fill: #174704;
}
