@font-face {
    font-family: Montserrat-Bold;
    src: url(../fonts/Montserrat-Bold.otf);
}

path ,  circle {
    fill: #929292
}



text {
    fill: white;
}


a path:hover , a:hover circle {
    fill: #7a322f;
}







body {
    font-family: arial;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    flex-direction: column;
}

header {
    background-color: white;
    padding: 20px;
    text-align: center;
}

main {
    padding: 10px;
    overflow: auto;
    background-color: #e3e3e3;
    display: flex;
    flex-direction: column;
}

article {
    display: flex;
    flex-direction: row;
}

section {
    background-color: #eceded;
    margin: 10px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 1px 0px 5px 0px rgba(0,0,0,0.75);
    flex: 1;
}


section:not(:has(*)) {
    display: none;
} 

svg {
    max-width: 600px;
    height: auto;
}

td, th {
    white-space: nowrap;
    padding: 3px;
}

table {
    border-collapse: collapse;
}

tr:nth-child(odd) {
    background-color: #d7d9d8;
}

tr th {
    text-align: left;
}

section:nth-child(2) tbody td:nth-child(2) {
    text-align: right;
}
th {
    text-transform: uppercase;
}