body {
    font-family: sans-serif;
    margin: 0;
}


path ,  circle {
    fill: #929292
}


text {
    fill: white;
}


a:hover path , a:hover circle {
    fill: #7a322f;
}


a:link, a:visited {
    text-decoration: none;
    color: white;
    background-color: #929292;
    padding: 4px;
    margin: 4px;
    border-radius: 4px;
    display: inline-block;
}

a:hover {
    background-color: #8c1d29;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    flex-direction: column;
}

header {
    background-color: white;
    padding: 20px;
    text-align: left;
}

main {
    padding: 10px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;
}

thead th {
    background-color: #8c1d29;
    color: white;
}

tbody th {
    font-weight: bold;
}

th {
    text-align: left;;
}

tr:nth-child(even) {
    background-color: #e3e3e3;
}

td, th {
    white-space: nowrap;
    padding: 3px;
}

table {
    border-collapse: collapse;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
}



svg {
    width: 100%;
    height: auto;
}




section {
    width: 800px;
    height: 700px;
    overflow-y: auto;
    margin: 20px;
    background-color: white;;
}

table {
    font-size: 12px;
    width: 100%;
}

h1, h2 {
    text-transform: uppercase;
}

td:nth-child(3) , td:nth-child(4) ,

th:nth-child(3) , tbody th:nth-child(4) {
    text-align: right;
}

table:nth-of-type(1) td:nth-child(2) {
    text-align: right;
}

table:nth-of-type(1)  {
    margin-bottom: 10px;
}

section {
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);

    
}

nav {
    background-color: #8c1d29;
    color: white;
    padding: 20px;
    text-align: center;
    font-weight: bold;
}

table:nth-of-type(1) tbody tr:not(:first-child) th {
    padding-left: 30px;;
}